<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="eSignEntities" connectionString="metadata=res://*/Domain.eSign.csdl|res://*/Domain.eSign.ssdl|res://*/Domain.eSign.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RSIGN31;initial catalog=esign;persist security info=True;user id=sa;password=RsignSa1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=RSIGN31;Initial Catalog=esign;Persist Security Info=True;User ID=sa;Password=RsignSa1" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ProfilePicLocation" value="/ProfilePictures" />
		<add key="SignatureLocation" value="/Signature" />
		<add key="domain" value="https://rsign31.use.rpost.net" />
		<add key="defaultPic" value="/Content/NewTheme/img/profileblank.png" />
		<add key="Success" value="Registration successfully done, please check your mail to Activate account." />
		<add key="AlreadyRegistered" value="The email address that entered is already registered in the system." />
		<add key="RolesCount" value="Data mismatch with actual template." />
		<add key="Email" value="Invalid Email." />
		<add key="EnvelopeSucess" value="Email successfully sent." />
		<add key="EnvelopeFail" value="Error occurred while sending Emails." />
		<add key="Failed" value="Registration Failed." />
		<add key="TokenSuccess" value="Gets Token Successfully." />
		<add key="InvalidUser" value="Username or Password is invalid." />
		<add key="EmailWrong" value="Entered email id is not valid." />
		<add key="TokenExpired" value="User token is expired, get new token."/>
		<add key="NoDataFound" value="No UserProfile Data found."/>
		<add key="NoContent" value="No data found."/>
		<add key="AllSigned" value="All signers has signed the document."/>
		<add key="MailResend" value="The email has been resent"/>
		<add key="ServerUrl" value="https://rsign31.use.rpost.net/"/>
		<add key="AppKey" value="esignapp"/>
		<add key="SigningCertificateName" value="EsignApplication"/>
		<add key="QueryStringKey" value="esignapp" />
		<add key="FromEmailAddress" value="contracts@rpost.com" />
		<add key="IsSSLRequiredForEmail" value="true" />
		<add key="PDFPathStart" value="C:\EsignV2\Https_Hosting\7_April\rpost-full-2_CR\rpost-full-2_CR\eSign\eSign.Web\TemporaryLocation\" />
		<add key="PDFPathEnd" value="/Final/Output.pdf" />
		<add key="PermanentPDFPathStart" value="C:\Rpost\" />
		<add key="PermanentPDFPathEnd" value="/Final/Output.pdf" />
		<add key="FontFolderPath" value="C:\EsignV2\Https_Hosting\7_April\rpost-full-2_CR\rpost-full-2_CR\eSign\eSign.Web\Content\Fonts"/>
		<add key="TempLocation" value="C:\EsignV2\Https_Hosting\7_April\rpost-full-2_CR\rpost-full-2_CR\eSign\eSign.Web\TemporaryLocation\"/>
		<add key="licPath" value="C:\EsignV2\Https_Hosting\7_April\rpost-full-2_CR\rpost-full-2_CR\eSign\eSign.Web\App_Data\AsposeLicence\AsposeTotal.lic"/>
		<add key="ExpiryDays" value="7"/>
		<add key="PartialComplete" value="The envelope is waiting for signature."/>
		<add key="IncompleteAndExpired" value="The envelope is incomplete and expired."/>
		<add key="Terminated" value="The envelope is terminated."/>
		<add key="TempDirectory" value="C:\EsignV2\Https_Hosting\7_April\rpost-full-2_CR\rpost-full-2_CR\eSign\eSign.Web\TemporaryLocation\" />
		<add key="UploadedDocuments" value="UploadedDocuments\" />		
		
		<!--Milestone_4_Start-->
		<add key="SuccessInitializeEnvelope" value="New envelope has been initialized."/>
    <add key="SuccessInitializeTemplate" value="New template has been initialized."/>
    <add key="SuccessEditTemplate" value="Template edited successfully."/>
		<add key="ErrorInitializeEnvelope" value="Error occurred while initializing envelope, please try again."/>
		<add key="EnvelopeIdMissing" value="Provided envelope is not found."/>    
		<add key="DocumentIdMissing" value="Provided document is not found."/>
		<add key="SuccessDocumentUpload" value="Document has been uploaded."/>		
		<add key="DateFormatIdInvalid" value="Invalid date format id."/>
		<add key="ExpiryTypeIdInvalid" value="Invalid expiry type id."/>
    <add key="RecipientTypeIdInvalid" value="Invalid recipient type id."/>
    <add key="RoleTypeIdInvalid" value="Invalid role type id."/>
		<add key="RequiredFieldIsMissing" value="Either one of the required field is missing."/>		
		<add key="PasswordToSignAndOrOpenSignMissing" value="Password to sign and/or open sign document is missing."/>
		<add key="PasswordReqdToOpenMissing" value="Password required to open sign document should be true."/>
		<add key="PasswordReqdToSignMissing" value="Password required to sign document should be true."/>
		<add key="InvalidDownloadUri" value="Invalid/Unauthorized download url was provided."/>
		<add key="FileDuplicate" value="File gets duplicated."/>
		<add key="InvalidFileExtension" value="File format not supported."/>
		<add key="DocumentDeleted" value="Document deleted successfully."/>
		<add key="DocumentNotDeleted" value="Document cannot be deleted."/>
		<add key="EnvelopePrepared" value="Envelope is in prepare stage, you can not perform this operation right now."/>
    <add key="TemplatePrepared" value="Template is in prepare stage, you can not perform this operation right now."/>
		<add key="EnvelopePreparedSuccess" value="Envelope prepared successfully."/>
    <add key="TemplatePreparedSuccess" value="Template prepared successfully."/>
		<add key="InvalidEmail" value="Invalid email address provided."/>
		<add key="InvalidLocalDocumentData" value="Corrupt file data provided."/>
		<add key="NoDocumentUploaded" value="No document uploaded." />
		<add key="SomethingWentWrong" value="Something went wrong." />
		<add key="EnvelopeNotPrepared" value="Envelope not prepared for provided id."/>
    <add key="TemplateNotPrepared" value="Template not prepared for provided id."/>
		<add key="WebLocation" value="C:\EsignV2\Https_Hosting\7_April\rpost-full-2_CR\rpost-full-2_CR\eSign\eSign.Web\"/>
		<add key="ImageFolder" value="Images"/>
		<add key="ControlNotExist" value="Given control not exist, unable to delete the control."/>
		<add key="ControlDeleteSuccess" value="Given control deleted successfully."/>
    <add key="EditTemplateWithEnvelopeId" value="Provided id is envelope, provide template id."/>
		<add key="SelectControlNotExist" value="Given dropdown control option not exist, unable to delete the dropdown option."/>
		<add key="SelectControlOptionDeleteSuccess" value="Given dropdown control option deleted successfully."/>
    <add key="DropdownOptionNotAdded" value="No options added for dropdown."/>
		<add key="ClearControlDocMissing" value="No document found for given Envelope."/>
		<add key="ClearControlSuccess" value="All controls cleared from the Envelope."/>
		<add key="DeleteTemplateSuccess" value="Template deleted successfully."/>
		<add key="SaveTemplateSuccess" value="Template saved successfully."/>
		<add key="SaveTemplateFail" value="Error while saving Template."/>
		<add key="DocumentPageNotFound" value="Provided page name not found."/>
		<add key="TemplateIdMissing" value="Provided Template is not found."/>
		<add key="EditTemplateSave" value="Template not complete, save the Template first."/>
		<add key="DocumentIdNotFound" value="Provided Document Id not found."/>
    <add key="RecipientIdNotFound" value="Provided Recipient Id not found."/>
    <add key="AddSignatureSuccess" value="Signature control added successfully."/>
    <add key="AddDateSuccess" value="Date control added successfully."/>
    <add key="AddNameSuccess" value="Name control added successfully."/>
    <add key="AddTextSuccess" value="Text control added successfully."/>
    <add key="AddTitleSuccess" value="Title control added successfully."/>
    <add key="AddCompanySuccess" value="Company control added successfully."/>
    <add key="AddInitialsSuccess" value="Initials control added successfully."/>
    <add key="AddLabelSuccess" value="Label control added successfully."/>
    <add key="AddRadioSuccess" value="Radio control added successfully."/>
    <add key="AddCheckboxSuccess" value="Checkbox control added successfully."/>
    <add key="AddDropdownSuccess" value="Dropdown control added successfully."/>
    <add key="EditSignatureSuccess" value="Signature control edited successfully."/>
    <add key="EditDateSuccess" value="Date control edited successfully."/>
    <add key="EditNameSuccess" value="Name control edited successfully."/>
    <add key="EditTextSuccess" value="Text control edited successfully."/>
    <add key="EditTitleSuccess" value="Title control edited successfully."/>
    <add key="EditCompanySuccess" value="Company control edited successfully."/>
    <add key="EditInitialsSuccess" value="Initials control edited successfully."/>
    <add key="EditLabelSuccess" value="Label control edited successfully."/>
    <add key="EditRadioSuccess" value="Radio control edited successfully."/>
    <add key="EditCheckboxSuccess" value="Checkbox control edited successfully."/>
    <add key="EditDropdownSuccess" value="Dropdown control edited successfully."/>
    <add key="DocumentContentIdNotFound" value="Provided Document Content Id not found."/>
    <add key="NotSignatureControl" value="Provided Document Content Id is not a signature control."/>
    <add key="NotDateControl" value="Provided Document Content Id is not a date control."/>
    <add key="NotNameControl" value="Provided Document Content Id is not a name control."/>
    <add key="NotTextControl" value="Provided Document Content Id is not a text control."/>
    <add key="NotTitleControl" value="Provided Document Content Id is not a title control."/>
    <add key="NotCompanyControl" value="Provided Document Content Id is not a company control."/>
    <add key="NotInitialsControl" value="Provided Document Content Id is not a initials control."/>
    <add key="NotLabelControl" value="Provided Document Content Id is not a label control."/>
    <add key="NotRadioControl" value="Provided Document Content Id is not a radio control."/>
    <add key="NotCheckboxControl" value="Provided Document Content Id is not a checkbox control."/>
    <add key="NotDropdownControl" value="Provided Document Content Id is not a checkbox control."/>
    <add key="NotValidHeightWidth" value="Height and width should be more than or equal to 50 and 180 respectively for signature control."/>
    <add key="TemplateAlreadyDeleted" value="Provided Template already deleted."/>
    <add key="NoControlToDelete" value="No controls found to delete."/>
    <add key="CCNOtValid" value="You cannot add controls to CC recipient."/>
    <add key="EnvelopeComplted" value="Envelope completed, cannot Add/Edit controls."/>
    <add key="EnvelopePrepareFail" value="Envelope completed, cannot prepare Envelope."/>
    <add key="EnvelopeAlreadySent" value="Envelope already sent."/>
    <add key="DeleteControlInvaild" value="Envelope completed, cannot delete control."/>
    <add key="TemplateComplted" value="Template completed, cannot Add/Edit controls."/>
    <add key="EnvelopeDetailsFail" value="Provided id is not a envelope."/>
    <add key="DeleteTemplateWithEnvelope" value="Provided id is envelope, provide template id to delete template."/>
    <add key="SaveTemplateWithEnvelope" value="Provided id is envelope, provide template id to save template."/>
    <add key="PrepareTemplateWithEnvelope" value="Provided id is envelope, provide template id to prepare template."/>
    <add key="PrepareEnvelopeWithTemplate" value="Provided id is template, provide envelope id to prepare envelope."/>
    <add key="InvalidOrder" value="Invalid Order."/>
    <add key="NotValidWidth" value="Width should be more than or equal to 100."/>
    <add key="NotValidDropdownWidth" value="Width should be more than or equal to 40."/>    
    <add key="DiscardCompleteFail" value="Envelope completed, cannot discard."/>    
    <add key="DiscardSuccess" value="Envelope discarded successfully."/>    
    <add key="DiscardFail" value="Error while discarding envelope."/>    
    <add key="DiscardTemplateFail" value="Template cannot be discarded."/>    
    <add key="DiscardEnvelopeFail" value="Given envelope already discarded."/>    
    <add key="DiscardOnPrepare" value="Prepare envelope first then discard."/>    
    <add key="ColorInvalid" value="Provide valid hexcode for color."/>    
    <add key="FontFamilyInvalid" value="Provide valid font family id."/>    
    <add key="MaxCharInvalid" value="Provide valid max char id."/>    
    <add key="TextTypeInvalid" value="Provide valid text type id."/>
    <add key="DropdownEditSuccess" value="Dropdown control edited successfully."/>
    <!--Milestone_4_End-->

	</appSettings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="contracts@rpost.com">
				<network enableSsl="true" host="secure.emailsrvr.com" port="587" userName="contracts@rpost.com" password="Patri0ts#" />
				<!--<smtp deliveryMethod="Network" from="esign@dogtownmedia.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="esign@dogtownmedia.com" password="$$s3ndma1l$$" />-->
				<!--<network enableSsl="true" host="smtp21.usw.rpost.net" port="587" />-->
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
		<httpRuntime />
		<authentication mode="None" />
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</roleManager>
		<!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, AuthToken" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
			</customHeaders>
		</httpProtocol>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
				<bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_RPostService">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://rmail.rpost.com/ServiceHost/RMailService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RPostService" contract="RpostService.RPostService" name="BasicHttpBinding_RPostService" />
		</client>
	</system.serviceModel>
</configuration>
